<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>


    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/brush_and_pixel</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">solaris</property>



        <property name="hibernate.c3p0.acquire_increment">2</property>
        <property name="hibernate.c3p0.idle_test_period">300</property>
        <property name="hibernate.c3p0.timeout">5000</property>
        <property name="hibernate.c3p0.max_size">10</property>
        <property name="hibernate.c3p0.max_statements">100</property>
        <property name="hibernate.c3p0.min_size">1</property>



        <!-- JDBC connection pool (use the built-in)
        <property name="connection.pool_size">1</property>-->

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>

        <!-- Enable Hibernate's automatic session context management
        <property name="current_session_context_class">thread</property>-->

        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>

        <property name="cache.provider_class">net.sf.ehcache.hibernate.SingletonEhCacheProvider</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>

        <property name="net.sf.ehcache.configurationResourceName">/bap/cache/ehcache.xml</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>



        <mapping resource="bap/settings/SettingsGroup.hbm.xml" />

    </session-factory>



</hibernate-configuration>